awsebcli==3.10.5
blessed==1.14.2
botocore==1.5.92
cement==2.8.2
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.7
dj-database-url==0.4.2
Django==1.11.4
django-oauth-toolkit==1.0.0
djangorestframework==3.6.3
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
gunicorn==19.7.1
idna==2.5
jmespath==0.9.3
jsonfield==2.0.2
oauth2-provider==0.0
oauthlib==2.0.2
pathspec==0.5.0
psycopg2==2.7.3
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.3
semantic-version==2.5.0
six==1.10.0
tabulate==0.7.5
termcolor==1.1.0
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.44.0
